<div class="center-vertical post-user">
  <h2><%= CGI.escapeHTML(@post.site_name) %></h2>
  <a href="<%= @post.site_url %>" target="_blank">
    <img class="post-image" src="http://capture.heartrails.com/400x300/border?<%= @post.site_url %>" alt="<%= CGI.escapeHTML(@post.site_name) %>">
  </a>
  <p class="post-container"><%= CGI.escapeHTML(@post.site_about) %></p>

  <div>
    <img src="" alt="<%= @post.post_user %>のアイコン">
    <p>Create by <%= CGI.escapeHTML(@post.post_user) %></p>
  </div>

  <div>
    共有する
    <a class="sns-icon" target="_blank" href="https://twitter.com/share?url=<%= @post.site_url %>&text=<%= @post.site_name %>"><i class="fab fa-twitter-square"></i><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></a>
    <a class="sns-icon" target="_blank" href="http://www.facebook.com/share.php?u=<%= @post.site_url %>&t=<%= @post.site_name %>：" rel="nofollow"><i class="fab fa-facebook-square"></i></a>
  </div>
</div>
